@model FantaxyWebApplication.Models.Entities.PlanetInfo
@{
    Layout = "~/Views/Planet/_PlanetMaster.cshtml";
    string? main = Model?.MainBackground.Replace("\\", "/");
    string? profile = Model?.ProfileBackground.Replace("\\", "/");
    string? back1 = $"url(\"{main}\")";
    string? back2 = $"url(\"{profile}\")";
}

<h2> @Model.PlanetDescription </h2>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#h2PlanetName').text = @Model.PlanetName;
        $('#planetAvatar').attr("src", @Model.Avatar);
    });
</script>
<script src="~/js/planet/paralaxEffect.js" charset="utf-8"/>