@{
    Layout = "~/Views/Planet/_PlanetMaster.cshtml";
}

<link rel="stylesheet" href="~/css/posts/post.css" />

<div class="postList">

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/post/postGenerate.js" charset="utf-8"></script>