@model ErrorViewModel
@{
    ViewData["Title"] = "BAN!";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="~/css/error.css">
</head>
<body>
    <div class="container">
        <i class="icon fa fa-times"></i>
        <h1 class="error-text">Упс!</h1>
        <p class="message">Кажется, вы были заблокированы! Очень сожалеем =( </p>
    </div>
</body>
</html>

