@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" type="text/css" href="~/css/error.css">
</head>
<body>
    <div class="container">
        <i class="icon fa fa-times"></i>
        <h1 class="error-text">Ошибка!</h1>
        <p class="message">Возникла непредвиденная ошибка. Постарайтесь вернуться на старую страницу.</p>
    </div>
</body>
</html>

