@{
    Layout = "~/Views/Main/_MainMaster.cshtml";
}
<meta charset="utf-8">
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/items.css" asp-append-version="true" />

<div class="div-link">
    <a asp-controller="Main" asp-action="Users">
        <span class="material-symbols-outlined" data-tooltip="Вернуться к пользователям">
            group
        </span>
    </a>
</div>

<form method="get">
    <div class="searchMain">
        <div class="searchInputDiv">
            <input name="search" id="search" type="text" class="-input -fillInput -small" placeholder="Тут кто-нибудь есть?" />
            <input type="submit" id="searchInput" value="search" class="-btn -small -dark" />
        </div>
    </div>
</form>


<div class="div-listItems">
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="~/js/moderator/searchBannedUser.js" charset="utf-8"></script>
