@{
    Layout = "_MainMaster.cshtml";
}
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <div class="searchMain">
        <div class="searchInputDiv">
            <input type="text" class="-input -fillInput -small" placeholder="Тут кто-нибудь есть?" />
            <input type="button" value="Поиск" class="-btn -small -dark"/>
        </div>
    <div class="searchlinkDiv">
        <a > <span> Пользователи </span></a>
        <a> <span> Планеты </span></a>
    </div>
</div>