@using System.Text.Json;
@model ChatModel

@inject IHttpContextAccessor HttpContextAccessor
@{
    var json = HttpContextAccessor.HttpContext.Request.Cookies["UserInfo"];

    UserModel? userModel = JsonSerializer.Deserialize<UserModel>(json);
    Layout = "~/Views/Main/_MainMaster.cshtml";
    string? main = Model?.MainBackground.Replace("\\", "/"); ;
    string? back1 = $"url(\"{main}\")"; ;
}
<style>
    body {
        background: @Html.Raw(back1);
    }
</style>

<link rel="stylesheet" href="~/css/chats/chatInfo.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/profile.css" />
<link rel="stylesheet" href="~/css/posts/post.css" />


    <div class="profileImg second-div">
        <div class="div-edit">
        <form id="profileImgForm" method="post" asp-controller="Chat" asp-action="DetailChat" enctype="multipart/form-data">
            <label class="material-symbols-outlined" data-tooltip="Информация чата" for="profileImgInput">
                account_box
            </label>
            <input type="submit" id="profileImgInput" style="display: none;" accept="image/png, image/jpeg" />
        </form>
        @if (Model.OwnerLogin == userModel.Login)
        {
            <form id="profileImgForm" method="post" asp-controller="Chat" asp-action="EditChat" enctype="multipart/form-data">
                <label class="material-symbols-outlined" data-tooltip="Редактировать чат" for="profileImgInput">
                    account_box
                </label>
                <input type="submit" id="profileImgInput" style="display: none;" accept="image/png, image/jpeg" />
            </form>
        }

        </div>
    </div>
<div id="chatroom">

</div>

<div id="inputForm">
        <input type="text" class="-input -fillInput" id="message" name="message" />
        <input type="button" class="-btn -dark" id="sendBtn" value="Отправить" disabled />
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat/getMessage.js"></script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/Chat/Chatter")
        .build();

    document.getElementById("sendBtn").addEventListener("click", function () {
        let message = document.getElementById("message").value;
        $.ajax({
            url: '/Chat/SendMessage',
            type: 'POST',
            contentType: 'application/json', // Add this line
            data: JSON.stringify({ message: message }),
            success: function (response) {
                document.getElementById("message").value = '';
                hubConnection.invoke("Send", response)
                    .catch(function (err) {
                        return console.error(err.toString());
                    });
            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the request
                console.error('Error sending message: ' + error);
            }
        });
    });

    hubConnection.on("Receive", function (response) {
        
        var chatroom = document.getElementById('chatroom');
        var messElement = document.createElement('div');
        messElement.classList.add('mess');
        messElement.style.background = '#420082';

        var messAuthorElement = document.createElement('div');
        messAuthorElement.classList.add('messAuthor');

        var avatarElement = document.createElement('img');
        avatarElement.src = response.avatar;
        messAuthorElement.appendChild(avatarElement);

        var authorNameElement = document.createElement('h5');
        authorNameElement.textContent = response.owner;
        messAuthorElement.appendChild(authorNameElement);

        messElement.appendChild(messAuthorElement);

        var messInfoElement = document.createElement('div');
        messInfoElement.classList.add('messInfo');

        var messageTextElement = document.createElement('p');
        messageTextElement.textContent = response.message;
        messInfoElement.appendChild(messageTextElement);

        messElement.appendChild(messInfoElement);

        chatroom.appendChild(messElement);
    });

    hubConnection.start()
        .then(function () {
            document.getElementById("sendBtn").disabled = false;
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
</script>
