@model IList<MessageModel>

@foreach(var message in Model)
{
    <div class="mess" style="background:#420082">
        <div class="messAuthor">
            <img src="@message.avatar" />
            <h5> @message.owner </h5>
        </div>
        <div class="messInfo">
            <p> @message.message </p>
        </div>
    </div>
}
